<% layout('layouts/boilerplate') -%>
<body>
  <main class="cards-main mt-3">
    <% lists.forEach(list => { %>
    <a href="/lists/<%=list._id%>">
      <div class="card card-each" style="width: 20rem">
        <img src="<%=list.image.url%>" class="card-img-top" alt="..." />
        <div class="card-body" style="gap: 0">
          <h5 class="card-title"><%=list.title%></h5>
          <p class="card-price">
            ₹<%=list.price.toLocaleString("en-IN")%> &bull; night
          </p>
        </div>
      </div></a
    >
    <% });%>
  </main>
</body>
