<footer>
  <div class="info">
    <div>&copy; AirBNB Clone</div>
    <div class="f-info-links">
      <a href="#">Privacy</a>
      &bull;
      <a href="#">Terms</a>
    </div>
    <div class="f-info-socials">
      <a href="https://www.linkedin.com/in/rakeshhere"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a href="https://www.instagram.com/rakesh_heree/">
        <i class="fa-brands fa-square-instagram"></i
      ></a>
      <a href="https://github.com/just-rakesh">
        <i class="fa-brands fa-square-github"></i
      ></a>
    </div>
  </div>
</footer>
